<div id="explanationWrapper">
	<div id="left_container">
		<h1>ZANOX ANIMALS - Your movement type!</h1>
		<h2>The animals reflect your movement type. The more places you visit the more your animal evolves.<br/><br/><br/><br/></h2>
		<div class="ani_exp"><img src="assets/img/explanation/animal_explanation.png" /></div>
	</div>
	
	<div id="right_container">
		<h1>ZANOX INCENTIVES - Recharge your performance!</h1>
		<h2>Based on your movements you collect points to increase your incentive status. Depending on how fast you move and how often you 
		change beacon areas your refreshing incentive changes.
		<br/><br/>Pick up your incentive instantly once your incentive status changes.</h2>
		<div class="inc_exp"><img src="assets/img/explanation/incentives_explanation.png" /></div>
	</div>
</div>